[user]
	name = fraziema
	email = 107295620+fraziema@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[alias]
	branches = "branch --all"
	s = "status -s"
	ca = "!git add . && git commit --all --verbose"
	fl = "log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short"
	l = "log --graph --decorate --pretty=format:'%C(blue)%d%Creset %C(yellow)%h%Creset %s, %C(bold green)%an%Creset, %C(green)%cd%Creset' --date=relative -n 20"
